extends layout

block content
  .container
  h2 #{clients.cfirstname} #{clients.csurname}
  table(class='table table-bordered table-hover table-striped')
    thead
      tr(class='table-primary') 
        th Name 
        th Sky Card 
        th Addr
        th Action
    tbody
      for order in orders
        tr
          td 
            hello #{order.oskyname}
          td 
            hello #{order.oskycard}
          td 
            hello #{order.oskyaddr1}
          td 
            a(class='edit' href='edit-order/#{order.orderkey}' data-orderkey='#{order.orderkey}') Edit
